@page "/Deleteuser"

@using BlazorWebAss.Models

@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime Js

<h2>DeleteUser</h2>

<div class="row">
    <EditForm Model="@user" OnValidSubmit="@Save">
        <DataAnnotationsValidator />
    <div class="col-md-6">
        <div class="form-group">
            <label for="Login"> Login *</label>
            <input form="Login" class="form-control" @bind="@user.Login" />
            <ValidationMessage For="@(() => @user.Login)" />
        </div>
    </div>
        <input type="submit" class="btn btn-primary" value="Save" />
        <input type="button" class="btn" @onclick="@Cancel" value="Cancel" />
    </EditForm>
</div>

@code {

    DeleteUserFormModel user = new();
    Response response = new();

    protected async Task Save()
    {
        response = await Http.DeleteFromJsonAsync<Response>($"Api/Users/DeleteUser/{user.Login}");
        //response = await responseMessage.Content.ReadFromJsonAsync<Response>();
        if (response.Errors != null)
        {
            await Js.InvokeVoidAsync("alert", response.Errors.FirstOrDefault().ErrorMessage);
        }
        else
            NavigationManager.NavigateTo("note");
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("note");
    }

}
